


<ion-content class="background-acount">
  
  <div class="Account-background" style="margin-top: 30%; border: solid; margin-left: 30px;margin-right: 30px;" >
    <ion-row>
    <p><ion-icon class="icon-person" name="person-circle-outline"></ion-icon></p>
    <p class="p" style="margin-top: 50px;margin-left: 20px;">Hello, Welcome to Takeware!</p>
    <ion-icon [routerLink]="'/setting'" class="icon-seting" name="settings-outline"></ion-icon>
    </ion-row>
  
<div class="content-acount">
  <!-- <ion-button [routerLink]="'/login'"   size="small"><p class="login-text-acount">LOG IN</p></ion-button> -->
  <ion-button [routerLink]="'/login'" size="small"><p class="signin-text-acount">Login</p></ion-button>
  <ion-button [routerLink]="'/sign-in'"   size="small"><p class="signin-text-acount">Sign In</p></ion-button>
</div>
  </div>

  <!-- <div class="myoder" style="background-color: #ffff;">
  <div>
    <ion-row>
     <div><ion-icon class="card-outline" name="card-outline"></ion-icon>
      <ion-label></ion-label>
     </div>
      <ion-icon class="archive-outline" name="archive-outline"></ion-icon>
      <ion-icon class="car-outline" name="car-outline"></ion-icon>
      <ion-icon class="chatbox-ellipses-outline" name="chatbox-ellipses-outline"></ion-icon>

    </ion-row>
  </div>
    <div>
    <ion-row>
      <ion-icon class="return-up-back-outline" name="return-up-back-outline"></ion-icon>
      <ion-icon class="newspaper-outline" name="newspaper-outline"></ion-icon>
    </ion-row>
    </div>
  </div> -->

</ion-content>