ion-content.background-acount{
    --background-color:#ffffff;

}

ion-content.background-acount{
    --background:url(../../assets/image/background-account.jpg) 0 0/100% 100% no-repeat;
}

.content-acount{
    //position: fixed;
    margin-top: 40px;
    margin-left: 100px;
    //margin-bottom: 30px;
    position: relative;
    z-index: 100px;
    bottom: 30px;
}
Account-background{
    margin-top: 30%;
}
    

.icon-person{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 23px;


}
.icon-seting{
   font-size: 30px;
   margin-left: 10%;
   margin-top: 12%;


}
.login-text-acount{
    font-size: small;
    color: #ffffff;
    //text-align: center;
    font-family: 'Nunito', sans-serif;
   //text-transform: none;
}
.signin-text-acount{
    font-size: small;
    color: #ffffff;
    //text-align: center;
    font-family: 'Nunito', sans-serif;
   //text-transform: none;
}
.card-outline{
    font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-left: 50px;
}
.archive-outline{
     font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-left: 50px;

}
.car-outline{
     font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-left: 50px;

}
.chatbox-ellipses-outline{
     font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-left: 50px;

}
.return-up-back-outline{
     font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    

}
.newspaper-outline{
     font-size: 40px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;

}