<div class="gem-profile">

  <div class="card" style="width: 80%; margin: 10%;">
    <div class="gem-proc-body">
      <ion-col>
        <img [src]="gem.gemImage" alt="..." class="img-fluid" style="width: 15rem; height: 15rem; ">
        <div class="card-body">
          <h5 class="card-title">{{gem.gemName}}</h5>
          <div class="description">
            {{gem.gemDescription}}
          </div>
          <p class="card-text">Rs: {{gem.price}}</p>
          <div class="button-two">
            <ion-button class="button-buy">Buy now</ion-button>
            <ion-button class="button-cart"   (click)="addToCart(gem)">Add to Cart</ion-button>
          </div></div>
      </ion-col>
    </div>

  </div>
</div>