.gem-profile{
    background-color: #C0C0C0;
    width: 100%;
    height: 100%;
}

.button-two{
    padding-bottom: 20px;
}

.card-text{
    color: black;
    margin-left: 10px;
    margin-top: 0.1px;
    margin-bottom: 20px;
  }

  .description{
    height: 40px;
    line-height: 1.2;
    margin-bottom:0.1px;
    overflow: hidden;
    padding: 0 5px;
    font-size: 11px;
    color: darkgray;
  }

  .card-title{
    color: black;
    margin-left: 10px;
  }

  .button-cart{
      
      margin-left: 15%;
  }
 
  .card{
    background-color: #ffffff;
    padding-top: 40px;
  }

  .card-image{
    display: flex;
      flex-wrap:wrap;
      justify-content:center;
      margin-top: 10px;
}

.gem-proc-body{
    margin-left: 20px;
}