<div class="ion-text-end">
  <ion-item *ngFor="let gem of cart" class="ion-text-wrap">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-wrap">
          <ion-button color="medium" fill="clear" (click)="desreaseCartItem(p)">
            <ion-icon color="remove-circle" slot="icon-only"> </ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        <ion-col size="1" class="ion-align-self-center">
          {{gem.amount}}
        </ion-col>
        
        <ion-row class="ion-align-items-center">
          <ion-col size="2" class="ion-text-wrap">
            <ion-button color="medium" fill="clear" (click)="desreaseCartItem(p)">
              <ion-icon color="remove-circle" slot="icon-only"> </ion-icon>
            </ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>