

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="'/home'" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/dashboard'"  tab="dashboard">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/cart'" tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/meeting'" tab="meeting">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="goAccount()" >
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Acount</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
